<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shortlink.project.dao.mapper.ShortLinkAccessLogsMapper">
    <select id="getTopIp" parameterType="com.example.shortlink.project.dto.req.ShortLinkStatsReqDTO" resultType="com.example.shortlink.project.dto.resp.ShortLinkStatsTopIpRespDTO">
        SELECT ip, COUNT(1) as cnt
        FROM t_link_access_logs
        WHERE
          full_short_url = #{param.fullShortUrl}
          AND create_time BETWEEN #{param.startDate} AND #{param.endDate}
        GROUP BY ip
        ORDER BY cnt DESC
        LIMIT 10;
    </select>

    <select id="getUvStats" parameterType="com.example.shortlink.project.dto.req.ShortLinkStatsReqDTO" resultType="com.example.shortlink.project.dto.resp.ShortLinkStatsUvRespDTO">
        SELECT COUNT(1) as cnt,
               CASE WHEN first_visit &lt; #{param.startDate} THEN 'oldVisitor'
                    WHEN first_visit BETWEEN #{param.startDate} AND #{param.endDate} THEN 'newVisitor'
                    END as uvType
        FROM t_link_access_logs main
        JOIN (
            SELECT  user, MIN(create_time) as first_visit
            FROM t_link_access_logs
            WHERE full_short_url = #{param.fullShortUrl}
            GROUP BY user
        ) user_first_visit ON main.user = user_first_visit.user
        WHERE
            create_time BETWEEN #{param.startDate} AND #{param.endDate}
        GROUP BY uvType
    </select>
    <select id="getUvTypeByUser" resultType="java.lang.String">
        SELECT DISTINCT CASE WHEN first_visit &lt; #{startDate} THEN 'oldVisitor'
                    WHEN first_visit BETWEEN #{startDate} AND #{endDate} THEN 'newVisitor'
               END as uvType
        FROM t_link_access_logs main
        JOIN (
            SELECT  user, MIN(create_time) as first_visit
            FROM t_link_access_logs
            WHERE user = #{user}
        ) user_first_visit ON main.user = user_first_visit.user
        WHERE
        create_time BETWEEN #{startDate} AND #{endDate}
    </select>
</mapper>